<!DOCTYPE html>
<html>
<head>
	<title>The Short Website</title>
</head>
<body>
	<div class="navbar">I am where the navbar should be</div>

	
	<div class="foter">I am where the footer should be</div>
</body>
</html>